
# do not track Portfolio
Portfolio/**/*
Portfolio/*
Portfolio/

caffe/
caffe/*
caffe/**/*

kafka-python/
kafka-python/*
kafka-python/**/*

vagrant-mesos/
vagrant-mesos/**/*

vagrant-omnibus-master/*
vagrant-omnibus-master/
vagrant-omnibus-master/**/*

Azure/
Azure/**/*
Azure/*

week11/datasketch/*
week11/datasketch/
week11/datasketch/**/*

EX/
EX/*

lvynm0bk.5bl.txt
mjmbd14a.yk4.txt
